################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pfx
/WindowsFormsApplication1/obj/Debug/TempPE
