################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApplication1/bin/*
!WindowsFormsApplication1/bin/Release/

/WindowsFormsApplication1/bin/Release/*
!WindowsFormsApplication1/bin/Release/app.publish/

/WindowsFormsApplication1/obj/
*.pfx

.vs/

